* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}
html {
  font-size: 16px;
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  line-height: 1.5;
}
body {

}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
a,
a:active,
a:link,
a:focus,
a:hover {
  color: #000;
  text-decoration: none;
}

/*
Addition Classes
 */
.container {
  margin: 0 auto;
  width: 100%;
  /*max-width: 1200px;*/
  overflow: hidden;
  font-size: 0;
}
.hidden {
  display: none !important;
}
.block {
  display: block !important;
}
.addition {
  background-color: #fff;
  padding: 10px 40px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  cursor: auto;
  font-size: 1rem;
}
.modal .modal-background, 
.modal .modal-background a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.modal .modal-wrapper {
  position: relative;
  margin: 40px auto;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
}
.modal .modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/*
Not table
 */
.list-flight {
  position: relative;
  margin-top: 36px;
}
.item-cell.item-header {
  position: fixed;
  font-weight: bold;
  font-size: 1rem;
  background-color: #fff;
  border-bottom: 2px solid #6678b1;
  white-space: pre;
  z-index: 9;
}
.item-flight > a {
  font-size: 0;
}
.item-flight, .item-cell {
  position: relative;
  font-size: 1rem;
}

.item-cell.item-header-first:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 34px;
  background-color: #fff;
  border-bottom: 2px solid #6678b1;
  z-index: 8;
}

.item-flight a {
  display: block;
}
.item-cell {
  position: relative;
  display: inline-block;
}
.item-cell span {
  display: inline-block;
  padding: 5px 10px;
  white-space: pre;
}
.item-cell.item-flight-company-logo img {
  max-height: 25px;
}

.item-cell.item-flight-type { width: 5%; }
.item-cell.item-header.item-flight-type { left: 0; }
.item-cell.item-flight-number { width: 10%; }
.item-cell.item-header.item-flight-number { left: 5%; }
.item-cell.item-flight-company { width: 10%; }
.item-cell.item-header.item-flight-company { left: 15%; }
.item-cell.item-flight-company-logo { width: 10%; }
.item-cell.item-header.item-flight-company-logo { left: 25%; }
.item-cell.item-flight-plane { width: 15%; }
.item-cell.item-header.item-flight-plane { left: 35%; }
.item-cell.item-flight-destination { width: 20%; }
.item-cell.item-header.item-flight-destination { left: 50%; }
.item-cell.item-flight-time { width: 5%; }
.item-cell.item-header.item-flight-time { left: 70%; }
.item-cell.item-flight-status { width: 10%; }
.item-cell.item-header.item-flight-status { left: 75%; }
.item-cell.item-flight-info { width: 15%; }
.item-cell.item-header.item-flight-info { left: 85%; }

.item-cell .plane-short { 
  display: none; 
}
.item-cell:after,
.item-flight a:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  cursor: pointer;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
}
input[type=checkbox] + label:first-of-type {
  left: 10px;
}
input[type=checkbox] + label:last-of-type {
  left: 35px;
}
input[type=checkbox]:checked + label {
  color: #f60;
}
#checkboxIn:checked ~ #checkboxOut:not(:checked) ~ .list-flight .item-flight-out {
  display: none;
}
#checkboxIn:not(:checked) ~ #checkboxOut:checked ~ .list-flight .item-flight-in {
  display: none;
}

.list-flight .item-flight:nth-child(odd) .item-cell:not(:hover):after,
.list-flight .item-flight:nth-child(odd) > a:after {
  background-color: #ccddff;
}
/* .-in <=> article */
#checkboxIn:checked ~ #checkboxOut:not(:checked) ~ .list-flight .item-flight-in:nth-of-type(odd) .item-cell:not(:hover):after,
#checkboxIn:checked ~ #checkboxOut:not(:checked) ~ .list-flight .item-flight-in:nth-of-type(odd) > a:after {
  background-color: #ccddff;
}
#checkboxIn:checked ~ #checkboxOut:not(:checked) ~ .list-flight .item-flight-in:nth-of-type(even) .item-cell:not(:hover):after,
#checkboxIn:checked ~ #checkboxOut:not(:checked) ~ .list-flight .item-flight-in:nth-of-type(even) > a:after {
  background-color: inherit;
}
/* .-out <=> div */
#checkboxIn:not(:checked) ~ #checkboxOut:checked ~ .list-flight .item-flight.item-flight-out:nth-of-type(odd) .item-cell:not(:hover):after,
#checkboxIn:not(:checked) ~ #checkboxOut:checked ~ .list-flight .item-flight.item-flight-out:nth-of-type(odd) > a:after {
  background-color: #ccddff;
}
#checkboxIn:not(:checked) ~ #checkboxOut:checked ~ .list-flight .item-flight.item-flight-out:nth-of-type(even) .item-cell:not(:hover):after,
#checkboxIn:not(:checked) ~ #checkboxOut:checked ~ .list-flight .item-flight.item-flight-out:nth-of-type(even) > a:after {
  background-color: inherit;
}

.item-header.item-flight-type:hover ~ .list-flight .item-cell.item-flight-type:after,
.item-header.item-flight-number:hover ~ .list-flight .item-cell.item-flight-number:after,
.item-header.item-flight-company:hover ~ .list-flight .item-cell.item-flight-company:after,
.item-header.item-flight-company-logo:hover ~ .list-flight .item-cell.item-flight-company-logo:after,
.item-header.item-flight-plane:hover ~ .list-flight .item-cell.item-flight-plane:after,
.item-header.item-flight-destination:hover ~ .list-flight .item-cell.item-flight-destination:after,
.item-header.item-flight-time:hover ~ .list-flight .item-cell.item-flight-time:after,
.item-header.item-flight-status:hover ~ .list-flight .item-cell.item-flight-status:after,
.item-header.item-flight-info:hover ~ .list-flight .item-cell.item-flight-info:after,
.list-flight .item-cell:hover:after {
  content: "";
  position: absolute;
  display: block;
  top: -10000px;
  left: 0;
  width: 100%;
  height: 50000px;
  background-color: #99bcff;
  z-index: -10;
}
.item-header:hover, 
.item-flight:hover {
  background-color: #99bcff;
}
.list-flight .modal:target {
  display: block;
}



/*
hide logo - 4
 */
@media screen and (max-width: 1000px) {
  .item-flight-company-logo {
    display: none;
    visibility: hidden;
  }

  .item-cell.item-flight-type { width: 10%; } 
  .item-cell.item-header.item-flight-type { left: 0; }
  .item-cell.item-flight-number { width: 10%; }
  .item-cell.item-header.item-flight-number { left: 10%; }
  .item-cell.item-flight-company { width: 10%; }
  .item-cell.item-header.item-flight-company { left: 20%; }
  /*.item-cell.item-flight-company-logo { width: 10%; }*/
  /*.item-cell.item-header.item-flight-company-logo { left: 25%; }*/
  .item-cell.item-flight-plane { width: 15%; }
  .item-cell.item-header.item-flight-plane { left: 30%; }
  .item-cell.item-flight-destination { width: 20%; }
  .item-cell.item-header.item-flight-destination { left: 45%; }
  .item-cell.item-flight-time { width: 10%; }
  .item-cell.item-header.item-flight-time { left: 65%; }
  .item-cell.item-flight-status { width: 10%; }
  .item-cell.item-header.item-flight-status { left: 75%; }
  .item-cell.item-flight-info { width: 15%; }
  .item-cell.item-header.item-flight-info { left: 85%; }

}

/*
hide company - 3
 */
@media screen and (max-width: 900px) {
  .item-flight-company {
    display: none;
    visibility: hidden;
  }

  .item-cell.item-flight-type { width: 10%; } 
  .item-cell.item-header.item-flight-type { left: 0; }
  .item-cell.item-flight-number { width: 10%; }
  .item-cell.item-header.item-flight-number { left: 10%; }
  /*.item-cell.item-flight-company { width: 10%; }*/
  /*.item-cell.item-header.item-flight-company { left: 20%; }*/
  /*.item-cell.item-flight-company-logo { width: 10%; }*/
  /*.item-cell.item-header.item-flight-company-logo { left: 25%; }*/
  .item-cell.item-flight-plane { width: 15%; }
  .item-cell.item-header.item-flight-plane { left: 20%; }
  .item-cell.item-flight-destination { width: 20%; }
  .item-cell.item-header.item-flight-destination { left: 35%; }
  .item-cell.item-flight-time { width: 10%; }
  .item-cell.item-header.item-flight-time { left: 55%; }
  .item-cell.item-flight-status { width: 15%; }
  .item-cell.item-header.item-flight-status { left: 65%; }
  .item-cell.item-flight-info { width: 20%; }
  .item-cell.item-header.item-flight-info { left: 80%; }

}

/*
change type of plane
 */
@media screen and (max-width: 800px) {
  .item-flight-plane span.plane-long {
    display: none;
  }
  .item-flight-plane span.plane-short {
    display: inline-block;
  }
}

/*
hide information - 9
 */
@media screen and (max-width: 700px) {
  .item-flight-info {
    display: none;
    visibility: hidden;
  }

  .item-cell.item-flight-type { width: 15%; } 
  .item-cell.item-header.item-flight-type { left: 0; }
  .item-cell.item-flight-number { width: 15%; }
  .item-cell.item-header.item-flight-number { left: 15%; }
  /*.item-cell.item-flight-company { width: 10%; }*/
  /*.item-cell.item-header.item-flight-company { left: 20%; }*/
  /*.item-cell.item-flight-company-logo { width: 10%; }*/
  /*.item-cell.item-header.item-flight-company-logo { left: 25%; }*/
  .item-cell.item-flight-plane { width: 15%; }
  .item-cell.item-header.item-flight-plane { left: 30%; }
  .item-cell.item-flight-destination { width: 25%; }
  .item-cell.item-header.item-flight-destination { left: 45%; }
  .item-cell.item-flight-time { width: 15%; }
  .item-cell.item-header.item-flight-time { left: 70%; }
  .item-cell.item-flight-status { width: 15%; }
  .item-cell.item-header.item-flight-status { left: 85%; }
  /*.item-cell.item-flight-info { width: 20%; }*/
  /*.item-cell.item-header.item-flight-info { left: 80%; }*/

}

/*
hide plane - 5
 */
@media screen and (max-width: 600px) {
  .item-flight-plane {
    display: none;
    visibility: hidden;
  }

  .item-cell.item-flight-type { width: 15%; } 
  .item-cell.item-header.item-flight-type { left: 0; }
  .item-cell.item-flight-number { width: 15%; }
  .item-cell.item-header.item-flight-number { left: 15%; }
  /*.item-cell.item-flight-company { width: 10%; }*/
  /*.item-cell.item-header.item-flight-company { left: 20%; }*/
  /*.item-cell.item-flight-company-logo { width: 10%; }*/
  /*.item-cell.item-header.item-flight-company-logo { left: 25%; }*/
  /*.item-cell.item-flight-plane { width: 15%; }*/
  /*.item-cell.item-header.item-flight-plane { left: 30%; }*/
  .item-cell.item-flight-destination { width: 30%; }
  .item-cell.item-header.item-flight-destination { left: 30%; }
  .item-cell.item-flight-time { width: 15%; }
  .item-cell.item-header.item-flight-time { left: 60%; }
  .item-cell.item-flight-status { width: 25%; }
  .item-cell.item-header.item-flight-status { left: 75%; }
  /*.item-cell.item-flight-info { width: 20%; }*/
  /*.item-cell.item-header.item-flight-info { left: 80%; }*/

}

/*
hide plane - 5
 */
@media screen and (max-width: 400px) {
  .item-flight-destination {
    display: none;
    visibility: hidden;
  }

  .item-cell.item-flight-type { width: 15%; } 
  .item-cell.item-header.item-flight-type { left: 0; }
  .item-cell.item-flight-number { width: 25%; }
  .item-cell.item-header.item-flight-number { left: 15%; }
  /*.item-cell.item-flight-company { width: 10%; }*/
  /*.item-cell.item-header.item-flight-company { left: 20%; }*/
  /*.item-cell.item-flight-company-logo { width: 10%; }*/
  /*.item-cell.item-header.item-flight-company-logo { left: 25%; }*/
  /*.item-cell.item-flight-plane { width: 15%; }*/
  /*.item-cell.item-header.item-flight-plane { left: 30%; }*/
  /*.item-cell.item-flight-destination { width: 30%; }*/
  /*.item-cell.item-header.item-flight-destination { left: 30%; }*/
  .item-cell.item-flight-time { width: 20%; }
  .item-cell.item-header.item-flight-time { left: 40%; }
  .item-cell.item-flight-status { width: 40%; }
  .item-cell.item-header.item-flight-status { left: 60%; }
  /*.item-cell.item-flight-info { width: 20%; }*/
  /*.item-cell.item-header.item-flight-info { left: 80%; }*/

}
