* {
  /*padding: 0;*/
  /*margin: 0;*/
  /*border: none;*/
  /*outline: none;*/
}
html {
  font-size: 16px;
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  line-height: 1.5;
  /*color: #fff;*/
}
body {
  margin: 0;
  /*background-color: #000;*/
}

.container {
  margin: 40px auto;
  width: 100%;
  max-width: 700px;
}
.hidden {
  display: none !important;
}

#dragndrop {
  padding: 40px 20px;
  color: #bbb;
  font-size: 3rem;
  border: 1px dashed #c8c8c8;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  display: block;
  text-align: center;
  padding-top: 50px;
  font-size: 5rem;
  color: #fff;
}

#analyser {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  margin-top: 20px;
}

#volume {
  width: 50%;
  -webkit-appearance: none;
  background-color: #ddd;
  height: 20px; 
  border-radius: 15px; 
  padding: 0 3px;
}
#volume::-webkit-slider-thumb {
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: #444;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  cursor: pointer;
}

.buttons {
  text-align: center;
  margin-top: 10px;
}
button {
  font-size: 2rem;
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
