* {
  /*padding: 0;*/
  /*margin: 0;*/
  /*border: none;*/
  /*outline: none;*/
}
html {
  font-size: 16px;
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  line-height: 1.5;
  /*color: #fff;*/
}
body {
  margin: 0;
  /*background-color: #000;*/
}

.container {
  margin: 40px auto;
  width: 100%;
  max-width: 700px;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden !important;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 4rem;
  margin: .5em;
}

#dragndrop {
  padding: 40px 20px;
  color: #bbb;
  font-size: 3rem;
  border: 1px dashed #c8c8c8;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
#dragndrop.drag-in {
  border-style: solid;
  color: #000;
}
#dragndrop span {
  z-index: -1;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  display: block;
  text-align: center;
  padding-top: 50px;
  font-size: 5rem;
  color: #fff;
  z-index: 10;
}

#analyser {
  margin-top: 20px;
}

#volume {
  /*width: 50%;*/
  -webkit-appearance: none;
  background-color: #ddd;
  height: 1rem; 
  border-radius: 1rem; 
  padding: 0 3px;
}
#volume::-webkit-slider-thumb {
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: #444;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  cursor: pointer;
}

.buttons {
  text-align: center;
  margin-top: 10px;
}
.buttons .volume {
  display: inline-block;
  padding: 10px;
  margin-bottom: 1rem;
}
.buttons button {
  font-size: 2rem;
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}
.buttons button:disabled {
  cursor: not-allowed;
}

#equalaizer input {
  display: none;
}
#equalaizer input:checked + label {
  font-weight: bolder;
}
#equalaizer label {
  display: inline-block;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  cursor: pointer;
}
#equalaizer label:not(:last-of-type) {
  margin-right: 5px;
}
